<div class="current-reactions mt-2 d-flex flex-row align-items-center">
  <% message.reactions.group(:reaction_type).count.each do |reaction_type, count| %>
    <span class="me-3"><%= reactions[reaction_type.to_sym] %> <%= count %></span>
  <% end %>
</div>
